article.article {
    padding: 20px 40px;
    margin-bottom: 20px
}

h1.page-header {
    font-size: 200%;
    display: inline-block;
    border-bottom: 2px solid #FE9042;
    margin: 0;
}

div.p {
    margin: 40px 0px;
}