#pop-up-container {
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 30px;
    max-width: 30%;
    max-height: 40%;
    overflow: hidden;
}

.pop-up,
.flash {
    padding: 10px 20px;
    margin-bottom: 15px;
    border-left: 5px solid #FE9042;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    float: right;
    display: block;
    clear: right;
    position: relative;
}

.pop-up img,
.flash img {
    position: absolute;
    left: 0px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.pop-up p,
.flash p{
    font-size: 110%;
    position: relative;
    padding-left: 30px;
}

.pop-up-success, 
.flash-success {
    background-color: rgb(114, 190, 117);
}

.pop-up-error,
.flash-error {
    background-color: #fd8981;
}

.animated-line {
    height: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #FE9042;
    animation-duration: 3.3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: flash-line;
}

@keyframes flash-line {
    0% {width: 100%;}
    25% { width: 75%;}
    50% {width: 50%;}
    75% {width: 25%;}
    100% {width: 0%;}
}