#homeTab { 
    background-color: #FE9042; 
}

.template-link {
    text-decoration: underline;
    display: inline;
    cursor: not-allowed;
}

.template-link:hover {
    color: #FE9042;
}

/*=========INTRODUCTION=========*/

div.introduction {
    text-align: center;
}

div.introduction h1{
    font-size: 220%;
    margin-bottom: 30px;
    display: inline-block;
    text-decoration: underline;
    padding: 0px 40px;
}

.intro-list li{
    display: inline-block;
    white-space: pre-line;
    text-align: left;
    margin: 0px 10px;
}

.intro-list li a:hover {
    color: #FE9042;
}


/*=========SEARCH_BAR=========*/

#searchBar {
    overflow: hidden;
    width: 100%;
    height: 100px;
}

#searchBar form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; /* (100-50)/2 */
}

#searchBar #inputWraper {
    float: left;
    width: 85%;
    position: relative;
    text-align: left;
}

#searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 30px;
}

#search-bar-clear-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    width: 20px;
    transition: 0.2s;
}

#search-bar-clear-btn img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.2s;
}

#search-bar-clear-btn img:hover {
    transform: scale(1.2);
}

#searchBar input {
    font-size: 100%;
    padding: 10px 35px 10px 45px;
    height: 50px;
}

#searchBar button[type="submit"] {
    width: 14%;
    height: 50px;
    padding: 0px 6px;
    float: right;
}

/*=========TAG_SEARCH=========*/

.tag-search {
    background-color: rgba(11, 11, 11, 0.8);
    width: 95%;
    border-radius: 15px;
    margin: 0px auto 40px auto;
    padding: 40px 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.tag-search-column {
    padding: 0px 10px;
    flex-basis: 100%;
}

.tag-search-list {
    list-style: none;
}

.tag-search-list li{
    margin: 15px 0px;
}

.tag-search-link:hover {
    color: #fe9042;
}

/*=========PARNTERS=========*/

.partners {
    margin: 0px auto 40px auto;
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.partner {
    flex-basis: 100%;
    border-radius: 5px;
}

.partner-img-wraper {
    width: 100px;
    height: 59px;
    overflow: hidden;
}

.partner-img-wraper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.partner-more {
    border: 1px solid #888888;
    vertical-align: middle;
}

.partner-more a,
.partner-more p {
    white-space: pre-line;
    font-size: 90%;
    padding: 5px 0px 0px 15px;
    display: block;
}

.partner-more a:hover {
    color: #fe9042;
}

/*=========ITEMS=========*/

.items-block-title {
    font-size: 200%;
    color: #fe9042;
    margin-bottom: 30px;
    text-align: center;
}

.top-items {
    margin: 60px 0px;
}

.more-items-btn {
    margin-top: 30px;
    text-align: center;
}

.more-items-btn a {
    font-size: 130%;
    padding: 0.7em 1.7em;
    border-radius: 30px;
    background-color: rgb(31, 31, 31);
    text-decoration: none;
}

.more-items-btn a:hover {
    color: #fe9042;
}

/*=========EPILOGUE=========*/

.epilogue {
    text-align: center;
    padding: 50px 30px;
}

.epilogue-logo {
    font-size: 200%;
}

.epilogue-logo span{
    font-size: inherit;
    color: #fe9042;
}

.epilogue-text {
    font-size: 150%;
    white-space: pre-line;
}

.e-2 {
    padding: 0px 60px;
}


