#homeTab { 
    background-color: #FE9042; 
}

.template-link {
    text-decoration: underline;
    display: inline;
    cursor: not-allowed;
}

.template-link:hover {
    color: #FE9042;
}

header { 
    background-color: transparent;
}

/*=========INTRODUCTION=========*/

div.introduction {
    text-align: center;
    margin: 150px 0px 30px 0px;
}

div.introduction h1{
    font-size: 220%;
    margin: 0px 0px 30px 0px;
    display: inline-block;
    padding: 0px 40px;
}

.intro-list li{
    display: inline-block;
    white-space: pre-line;
    text-align: left;
    margin: 0px 20px;
}

.intro-list li a {
    border-bottom: 1px solid rgb(240, 146, 58);
    text-decoration: none;
    transition: 0.2s;
}

.intro-list li a:hover {
    color: #FE9042;
}

/*=========SEARCH_BAR=========*/

#searchBar {
    margin-bottom: 180px;
}

#searchBar form {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

#searchBar #inputWraper {
    width: 65%;
    position: relative;
    text-align: left;
}

#searchBar input {
    font-size: 100%;
    padding: 0px 20px;
    height: 50px;
    background-color: white;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    color: black;
    outline: none;
}

#searchBar button[type="submit"] {
    height: 50px;
    padding: 0px 15px;
    background-color: rgb(240, 146, 58);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
}

#searchIcon {
    width: 23px;
    transition: 0.2s;
}

#searchBar button[type="submit"]:hover > img {
    transform: scale(1.2);
}


/*=========TAG_SEARCH=========*/

.tag-search {
    background-color: rgba(11, 11, 11, 0.8);
    border-radius: 15px;
    margin: 0px auto 80px auto;
    padding: 40px 30px;
}

.tag-search-select {
    text-align: center;
    margin-bottom: 20px;
}

.tag-search-select li{
    display: inline;
    list-style: none;
}

.active-tag-select {
    color: #FE9042;
    text-decoration: underline;
}

.tag-search-select button{
    font-size: 120%;
    background-color: transparent;
    border: none;
    margin: 0px 10px;
    cursor: pointer;
}

.tag-search-select button:hover {
    text-decoration: underline;
}

.tag-search-eq,
.tag-search-se {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.tag-search-column {
    padding: 0px 10px;
    flex-basis: 100%;
}

.tag-search-list {
    list-style: none;
}

.tag-search-list li{
    margin: 15px 0px;
}

.tag-search-link {
    transition: 0.2s;
}

.tag-search-link:hover {
    color: #fe9042;
}

/*=========PARNTERS=========*/

.partners-home {
    margin-bottom: 90px;
}

/*=========ITEMS=========*/

.items-block-title {
    font-size: 200%;
    color: #fe9042;
    margin-bottom: 30px;
    text-align: center;
}

.top-items {
    margin: 60px 0px;
}

.more-items-btn {
    margin-top: 30px;
    text-align: center;
}

.more-items-btn a {
    font-size: 130%;
    padding: 0.7em 1.7em;
    border-radius: 30px;
    background-color: rgb(31, 31, 31);
    text-decoration: none;
}

.more-items-btn a:hover {
    color: #fe9042;
}

/*=========EPILOGUE=========*/

.epilogue {
    text-align: center;
    padding: 50px 30px;
}

.epilogue-logo {
    height: 60px;
}

.epilogue-logo span{
    font-size: inherit;
    color: #fe9042;
}

.epilogue-text {
    font-size: 150%;
    white-space: pre-line;
}

.e-2 {
    padding: 0px 60px;
}


