#mailerBtn { 
    background-color: #FE9042; 
}

div.mailerContent {
    padding: 30px;
}

div.element {
    margin-bottom: 30px;
    border-bottom: 2px solid #888888;
    padding-bottom: 20px;
}

.isActiveBtn {
    background-color: #FE9042;
}

.elementHeading {
    font-size: 120%;
}

#keywords textarea:hover, 
#navTags button:hover { 
    background-color: rgb(149, 149, 149, 0.8); 
}

#keywords textarea:focus  { 
    background-color: rgb(149, 149, 149, 0.9); 
}

#keywords textarea:active, 
 #navTags button:active { 
    background-color: rgb(149, 149, 149, 0.7); 
}

label.error, div.error {
    display: block;
    padding: 5px 10px 5px 10px;
    border-left: 2px solid #f44336;
    color: #eb837c;
    white-space: normal;
    margin-left: 10px;
}

div.error p { color: #eb837c; }

.elementHeading { 
    margin-bottom: 20px; 
}

/* The container */
.cb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
}
  
/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.cb-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .cb-checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .cb-checkmark {
    background-color: #FE9042;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.cb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.cb-container input:checked ~ .cb-checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.cb-container .cb-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*================KEYWORDS================*/

#keywords textarea {
    padding: 10px;
    width: 70%;
    outline: none;
    border: none;
    background-color: rgb(149, 149, 149, 0.7);
    border-radius: 10px;
    margin-left: 10px;
}

/*================TAGS================*/

button.tags-show {
    width: 300px;
}

#choosenTags {
    margin: 0px 0px 10px 15px;
}

#choosenTags p {
    margin-bottom: 10px;
}

.orderedList {
    list-style-position: outside;
    margin-left: 2em;
}

.orderedList button {
    background-color: transparent;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    text-align: left;
}

.orderedList button:hover {
    color: red;
}

#tags div.help {
    margin-top: 0px;
}

/*================AUTHORS================*/

#authors {
    border-bottom: none;
}

#noAuthors {
    margin-left: 1em;
}

/*================BUTTONS================*/

.submit-button{
    margin-right: 5px;
}
