#mailerBtn { 
    background-color: #FE9042; 
}

div.mailerContent {
    padding: 30px;
}

div.mailerBody {
    margin-bottom: 30px;
}

.mailer {
    margin-bottom: 30px;
}

.title {
    font-size: 120%;
}

.mailer-detailes {
    margin-left: 15px;
}