#mailerBtn { 
    background-color: #FE9042; 
}

div.mailerContent {
    padding: 30px;
}

div.element {
    margin-bottom: 30px;
    border-bottom: 2px solid #888888;
    padding-bottom: 20px;
}

.isActiveBtn {
    background-color: #FE9042;
}

.elementHeading {
    font-size: 120%;
}

#keywords textarea:hover, 
#navTags button:hover { 
    background-color: rgb(149, 149, 149, 0.8); 
}

#keywords textarea:focus  { 
    background-color: rgb(149, 149, 149, 0.9); 
}

#keywords textarea:active, 
 #navTags button:active { 
    background-color: rgb(149, 149, 149, 0.7); 
}

label.error, div.error {
    display: block;
    padding: 5px 10px 5px 10px;
    border-left: 2px solid #f44336;
    color: #eb837c;
    white-space: normal;
    margin-left: 10px;
}

div.error p { color: #eb837c; }

.elementHeading { 
    margin-bottom: 20px; 
}

/*================TITLE================*/



/*================KEYWORDS================*/

#keywords textarea {
    padding: 10px;
    width: 70%;
    outline: none;
    border: none;
    background-color: rgb(149, 149, 149, 0.7);
    border-radius: 10px;
    margin-left: 10px;
}

/*================TAGS================*/

.open-tags-selecter {
    background-color: transparent;
    padding: 9px 20px;
    border-radius: 10px;
    border: 2px solid #FE9042;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}

.tags-selected {
    display: inline-block;
}

.tags-selecte-delim:last-child {
    display: none;
}

#tags div.help {
    margin-top: 0px;
}

/*================AUTHORS================*/

#noAuthors {
    margin-left: 1em;
}
/*================COST================*/

#cost .elementHeading {
    font-size: 100%;
    display: inline-block;
    margin-bottom: 0px;
}

.filter-currency {
    display: inline-block;
}

/*================STATUS================*/


/*================ROLE================*/


/*================TYPE================*/


/*================BUTTONS================*/

.submit-button{
    margin-right: 5px;
}
