html {
    color: #ffffff;
}

body {
    background-color: rgb(59, 62, 66);
}

#heading,
#copy-right {
    text-align: center;
}

#content {
    padding: 20px;
    background-color: rgb(30, 31, 34);
    width: 500px;
    min-height: 350px;
    margin: 0px auto;
}

.item {
    width: 95%;
    height: 150px;
}

.item .imgWraper {
    height: 130px;
    width: 170px;
}

.item .desc {
    margin-bottom: 10px;
}

.item .textWraper {
    width: 270px;
}

#ulMisc {
    margin: 0px;
    padding-left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    height: 21px;
}

#ulMisc p{
    margin: 0px;
}

#ulMisc li{
    color: #ffffff;
}

.notification-body {
    white-space: pre-line;
}

.notification-body span {
    padding-left: 5px;
    margin: 5px 0px 5px 5px;
    font-size: 110%;
    white-space: normal;
    display: inline-block;
    border-left: 2px solid #FE9042;
}

.mailer-link {
    cursor: pointer;
}


/*
<img src="{{ $message->embed(asset('icons/noImageIcon.svg')) }}" alt="Оборудывание нефть и газ."></li> 
<img src="{{ $message->embed($post->images()->where('version', 'optimized')->first()->url) }}" alt="Оборудывание нефть и газ."></li>
*/