.pagination-field {
    text-align: center;
    margin: 30px 0px;
}

.pagination {
    list-style: none;
    font-size: 0;
}
.page-item {
    display: inline-block;
}

.active .page-link {
    background-color: rgb(254, 144, 66);
}

span.page-link {
    cursor: default;
}

.page-link {
    font-size: 120%;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(105, 105, 105, 0.8);
    border-top: 2px solid #888888;
    border-bottom: 2px solid #888888;
}

.page-item:not(.active) .page-link:hover {
    background-color: rgb(149, 149, 149, 0.7);
}