.pass-forget-wraper {
    background-color: rgb(149, 149, 149, 0.6);
    padding: 40px 0px;
    height: 100%;
}

.pass-forget-content {
    background-color: rgba(11, 11, 11, 0.6);
    width: 40%;
    height: auto;
    margin: 0px auto;
}

.pass-forget-alert {
    text-align: center;
    border-bottom: 2px solid green;
    background-color: #4CAF50;
    border-radius: 10px;
    padding: 7px 10px;
}

.pass-forget-alert p {
    font-size: 110%;
}

.pass-forget-header p{
    text-align: center;
    padding: 14px;
    border-bottom: 2px solid #ffffff;
    font-size: 120%;
}

.pass-forget-body {
    padding: 40px;
    position: relative;
}

.pass-forget-form {
    margin: 50px 0px;
}

.pass-forget-input-field {
    margin-bottom: 30px;
}

.pass-forget-input {
    border: none;
    border-bottom: 2px solid #888888;
    background: none;
    padding: 7px;
    outline: 0;
    width: 100%;
}

.pass-forget-input:focus {
    border-bottom: 2px solid #ffffff;
}

.pass-forget-submit {
    width: fit-content;
    margin: 0px auto;
    display: block;
}

.pass-forget-misc {
    text-align: right;
    margin-bottom: 30px;
}

.pass-forget-back {
    transition: 0.2s;
}

.pass-forget-back:hover {
    color: #fe9042;
}

button.hideShowPassword-toggle {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    font-size: 90%;
    cursor: pointer;
    padding: 0px 3px;
    height: 87%; /* leave space for border (13%) */
    width: 8%;
}

button.hideShowPassword-toggle>img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    vertical-align: middle;
}

button.hideShowPassword-toggle:hover {
    background-color: rgb(11, 11, 11, 0.6);
}

/*======SOCIAL=======*/

div.social {
    background-color: rgb(11, 11, 11, 0.6);
    width: 45px;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px;
    overflow: hidden;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset 7px 0 9px -7px #000000;
    transition: 0.2s;
}

div.social>div {
    margin: 20px 0px;
}

p.socialText {
    display: none;
    white-space: pre;
}

a.socialLink {
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.2s;
    padding-left: 35px;
}

img.socialLogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 25px;
    height: 25px;
}

a.socialLink:hover {
    color: #FE9042;
    text-decoration: underline;
}