#editItemBody {
    padding: 20px 20px 40px 20px;
    width: 100%;
    background-color: rgb(149, 149, 149, 0.6);
}

#editItemBody>form {
    background-color: rgb(11, 11, 11, 0.6);
}

.element {
    position: relative;
    padding: 20px;
    border-bottom: 2px solid #888888;
    transition: 0.2s;
    width: 100%;
}

.element:hover { 
    box-shadow: 0px 0px 10px 0px #888888; 
}

.elementHeading { 
    font-size: 120%;
    margin-bottom: 15px;
}

.element:hover .help { 
    opacity: 1; 
}

input,
textarea,
div.phone-wraper,
div.upload-zone,
button.tagsTrigger,
#choosenTags,
#clearTagsBtn,
#dropDown,
.region-select {
    margin-left: 10px;
}

div.input-field {
    position: relative;
    display: block;
}

div.input-help {
    position: absolute;
    background-color: rgb(11, 11, 11, 0.8);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 0px;
    top: -10px;
    z-index: 20;
    border-left: 1px solid #fe9042;
    width: auto;
    display: inline-block;
}

div.input-help img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -18px;
    top: 18px;
}

div.input-help p {
    white-space: pre-line;
    overflow: hidden;
    font-size: 90%;
}

div.input-help i {
    font-size: inherit;
}

div.help {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    width: 28%; 
    opacity: 0;
    margin: 0px;
    overflow: hidden;
    padding-right: 10px;
}

label.error, div.error {
    margin-left: 10px;
}

#inputPhone-error {
    margin-left: 0px;
}

#navTags button:hover { 
    background-color: rgb(149, 149, 149, 0.8); 
}

#navTags button:active {
    background-color: rgb(149, 149, 149, 0.7); 
}

h2.sub-header {
    margin-bottom: 30px;
    font-size: 130%;
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0px 0px 12px 10px;
    cursor: pointer;
    font-size: 110%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
    background-color: #FE9042;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* The container */
.cb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
}
  
/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.cb-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .cb-checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .cb-checkmark {
    background-color: #FE9042;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.cb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.cb-container input:checked ~ .cb-checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.cb-container .cb-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*==================MASTER_PAGE_TITLE==================*/

#pageTitle {
    text-align: center;
    font-size: 190%;
    margin-bottom: 30px;
    padding-top: 0px;
}

/*==================NAV_BAR==================*/

.creation-type { 
    overflow: hidden;
}

.creation-type li { 
    display: inline; 
}

.creation-type a {
    float: left;
    text-align: center;
    width: 50%;
    padding: 14px;
    text-decoration: none;
    font-size: 100%;
    transition: 0.2s;
    border-bottom: 2px solid #ffffff;
}

.creation-type a:hover {
    background-color: rgb(149, 149, 149, 0.7);;
}

/*==================TITLE==================*/

#title {
    padding-top: 60px;
}

div.title-help {
    left: 63%;
    max-width: 360px;
}

#title input[type=text] { 
    width: 60%; 
}

a.auto-translator-link {
    transition: 0.2s;
    font-size: inherit;
}

a.auto-translator-link:hover {
    color: #FE9042;
}

div.title-translations,
div.desc-translations {
    margin: 10px 0px 0px 20px;
}

p.translations-header {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 110%;
}

div.translations-help {
    display: inline-block;
    position: relative;
}

div.translations-help:hover p {
    display: block;
}

div.translations-help img {
    width: 20px;
    height: 20px;
}

div.translations-help p {
    background-color: rgb(11, 11, 11, 0.8);
    position: absolute;
    padding: 5px;
    display: none;
    z-index: 5;
    top: 0px;
    left: 130%;
    width: 500px;
    color: #888888;
    font-style: italic;
    white-space: pre-line;
}

div.translation-input-field {
    margin: 0px 0px 20px 10px;
}

/*==================COMPANY==================*/

#inputCompany {
    width: 50%;
}

/*==================CONDITION==================*/

#condition input {
    cursor: pointer;
}

#condition label {
    cursor: pointer;
}

/*==================TAG==================*/

button.tags-show {
    margin-left: 10px;
}

#tagReadbleVisible {
    width: 70%;
    margin-left: 10px;
}

#tagReadbleVisible span {
    font-size: 110%;
    border-bottom: 2px solid #FE9042;
}

/*==================MISC_INFO==================*/

#manufacturer,
#manufactured_date,
#part_number,
#costField {
    margin: 0px 0px 20px 10px;
}

#inputManufacturer,
#inputManufacturedDate,
#inputPartNumber {
    width: 35%;
}

div.manuf-help,
div.manuf-date-help,
div.part-num-help {
    left: 38%;
    max-width: 450px;
}

#inputCost { 
    width: 25%; 
}

div.cost-help {
    left: 45%;
    max-width: 450px;
}

/*==================DESCRIPTION==================*/

#desc textarea {
    width: 70%;
}

div.desc-help {
    left: 73%;
    max-width: 265px;
}

/*==================IMAGES==================*/

#imgs label {
    cursor: pointer;
    padding: 7px;
    background-color: rgb(149, 149, 149, 0.7);
}

#previewText {
    margin: 15px 0px;
}

#imgs .error {
    margin-top: 5px;
    border-left: none;
}

#modalImgsDeleteOn,
#clearTagsBtn {
    margin-top: 10px;
    padding: 7px;
}

/*==================CONTACT_INFO==================*/

#regionField,
#emailField,
#phoneField {
    margin-left: 10px;
}

#regionField {
    margin-bottom: 20px;
}

#townField {
    margin: 0px 0px 20px 20px;
}

#inputTown { 
    width: 40%; 
}

#emailField {
    margin-bottom: 20px;
}

#inputEmail { 
    width: 35%; 
}

div.phone-help {
    left: 27%;
    max-width: 450px;
}

div.phone-wraper {
    position: relative;
    vertical-align: middle;
}

#inputPhone { 
    width: 25%;
    padding-left: 72px;
    margin-left: 0px;
}

img.messengers-image { 
    height: 20px; 
}

div.phone-prefix {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
}

img.country-flag {
    vertical-align: middle;
    height: 25px;
}

span.country-code {
    vertical-align: middle;
    display: inline;
    cursor: default;
}

.mediaCheckBoxes {
    margin: 5px 0px 0px 15px;
}

#phoneField input[type=checkbox] { 
    margin: 0px; 
}

/*==================BUTTONS==================*/

#btns { 
    border-bottom: none; 
}

#btns:hover { 
    box-shadow: none; 
}

.submit-button {
    margin-right: 5px;
}

#btns #modalPostDeleteOn {
    float: right;
}

/*==================MODAL==================*/

.modalView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(11, 11, 11, 0.7);
    box-shadow: 0px 0px 20px 5px #000000;
    display: block;
    padding: 20px;
    cursor: default;
}

.modalContent p {
    text-align: center;
    font-size: 120%;
    margin-bottom: 20px;
}

.modalContent form { 
    display: inline; 
}

.modalContent div > button { 
    margin-right: 20px; 
}