.master-wraper {
    height: 100%;
    background-color: rgba(149, 149, 149, 0.6);
    padding: 20px 20px 40px 20px;
    width: 100%;
}

.page-content {
    background-color: rgba(11, 11, 11, 0.6);
}

.page-title {
    text-align: center;
    margin-top: 0px;
}

.creation-type { 
    overflow: hidden;
}

.creation-type li { 
    display: inline; 
}

.creation-type a {
    float: left;
    text-align: center;
    width: 33.3334%;
    padding: 14px;
    text-decoration: none;
    font-size: 100%;
    transition: 0.2s;
    border-bottom: 2px solid #ffffff;
}

.creation-type a:hover {
    background-color: rgb(149, 149, 149, 0.7);;
}

#post-import {
    background-color: #FE9042;
}

.content-body {
    width: 100%;
    padding: 30px;
}

.body-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 170%;
}

.import-errors {
    margin-bottom: 30px;
}

.import-errors p {
    background-color: red;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin: 0px auto;
    white-space: pre-line;
}

.content-btns {
    display: flex;
    margin-bottom: 30px;
}

.btn-label {
    font-size: 130%;
    display: block;
    margin-bottom: 10px;
}

.input-field {
    width: 50%;
    display: inline;
    text-align: center;
}

#download-import {
    display: inline-block;
}

.choose-file-field {
    margin-bottom: 10px;
}

.file-name {
    display: block;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    margin-top: 5px;
}

.submit-button {
    display: block;
    margin: 0px auto;
}

.import-loading {
    text-align: center;
    margin-bottom: 30px;
}

.import-loading p{
    font-size: 135%;
    padding: 0px 7px;
    border-bottom: 2px solid greenyellow;
    display: inline-block;
}

.body-intro {
    font-size: 120%;
    margin-bottom: 20px;
    white-space: pre-line;
}

.body-text {
    font-size: 110%;
    margin-bottom: 30px;
    white-space: pre-line;
}

.learn-rules {
    display: block;
    font-size: 150%;
    color: #FE9042;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration: none;
}

.learn-rules:hover {
    text-decoration: underline;
}

.body-last {
    margin-bottom: 30px;
    border-left: 2px solid red;
    padding: 5px 0px 5px 5px;
}