#editItemBody {
    padding: 20px 20px 40px 20px;
    width: 100%;
    background-color: rgb(149, 149, 149, 0.6);
}

#editItemBody>form {
    background-color: rgb(11, 11, 11, 0.6);
}

.element {
    position: relative;
    padding: 20px;
    border-bottom: 2px solid #888888;
    transition: 0.2s;
    width: 100%;
}

.element:hover { 
    box-shadow: 0px 0px 10px 0px #888888; 
}

.elementHeading { 
    font-size: 120%;
    margin-bottom: 15px;
}

.element:hover .help { 
    opacity: 1; 
}

input,
textarea,
div.phone-wraper,
div.upload-zone,
button.tagsTrigger,
#choosenTags,
#clearTagsBtn,
#dropDown,
.region-select {
    margin-left: 10px;
}

div.help {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    width: 28%; 
    opacity: 0;
    margin: 0px;
    overflow: hidden;
}

span.arrow {
    display: inline-block;
    border: 2px solid #f1f1f1;
    border-left: none;
    border-bottom: none;
    width: 9px;
    height: 9px;
    margin-left: 5px;
    margin-bottom: 0.2em;
}

span.arrow {
    transform: rotateZ(135deg); 
}

span.arrowRight { 
    transform: rotateZ(45deg); 
}

label.error, div.error {
    display: block;
    padding: 5px 10px 5px 10px;
    border-left: 2px solid #f44336;
    color: #eb837c;
    white-space: normal;
    margin-left: 10px;
}

div.error p { color: #eb837c; }

input.error, textarea.error {
    border-left: 2px solid #f44336 !important;
    /*border-bottom-left-radius: none !important;*/
}

#navTags button:hover { 
    background-color: rgb(149, 149, 149, 0.8); 
}

#navTags button:active {
    background-color: rgb(149, 149, 149, 0.7); 
}

/*==================PAGE_TITLE==================*/

#pageTitle {
    text-align: center;
    font-size: 190%;
    margin-bottom: 30px;
    padding-top: 0px;
}

/*==================TITLE==================*/

#title #inputTitle { 
    width: 70%; 
}

/*==================CONDITION==================*/

#condition input {
    cursor: pointer;
}

#condition label {
    cursor: pointer;
}

/*==================TAG==================*/

#navTags {
    margin-bottom: 20px;
}

#navTags ul li{
    text-decoration: none;
    list-style: none;
}

#navTags button {
    padding: 7px;
    cursor: pointer;
    border: none;
    background-color: rgb(149, 149, 149, 0.7);
    border-bottom: 2px solid #ffffff;
    min-width: 300px;
    text-align: center;
}

#dropDown ul {
    list-style: none;
    z-index: 3;
    margin-bottom: 20px;
}

#mainMenu>li {
    display: inline-block;
    margin: 5px 0px;
}

#dropDown {
    background-color: rgb(149, 149, 149, 0.7);
    width: 70%;
}

#dropDown a {
    color: #ffffff;
    margin: 0;
    text-align: left;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    position: relative;
    display: block;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

#dropDown a:hover { 
    background-color: rgb(149, 149, 149, 0.7); 
}

#mainMenu>li:hover .secondLevel,
.secondLevel>li:hover>.thirdLevel,
.thirdLevel>li:hover>.fourthLevel,
.fourthLevel>li:hover>.fifthLevel {
    display: block;
    background-color: rgb(11, 11, 11, 0.8);
}

.secondLevel,
.thirdLevel,
.fourthLevel,
.fifthLevel {
    position: absolute;
    display: none;
}

.secondLevel a,
.thirdLevel a,
.fourthLevel a,
.fifthLevel a {
    text-align: left !important;
}

.secondLevel li {
    position: relative;
}

.thirdLevel, .fourthLevel, .fifthLevel{
    top: 0;
    right: 0;
    transform: translate(100%,0);
}

/*==================DESCRIPTION==================*/

#inputDecs {
    width: 70%;
}

/*==================IMAGES==================*/

#imgs label {
    cursor: pointer;
    padding: 7px;
    background-color: rgb(149, 149, 149, 0.7);
}

#previewText {
    margin: 15px 0px;
}

#imgs .error {
    margin-top: 5px;
    border-left: none;
}

#modalImgsDeleteOn,
#clearTagsBtn {
    margin-top: 10px;
    padding: 7px;
}

/*==================MISC_INFO==================*/

#costField {
    margin-bottom: 20px;
}

#inputCost { 
    width: 30%; 
}    

.region-wraper,
.currency-wraper {
    position: relative;
    display: inline-block;
}

.region-select,
.currency-select {
    background-color: rgb(149, 149, 149, 0.7);
    padding: 7px 20px 7px 5px;
    border: none;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 0px;
    transition: 0.2s;
}

.region-select:hover,
.currency-select:hover {
    background-color: rgb(149, 149, 149, 0.8);
}

.region-select:active,
.currency-select:hover {
    background-color: rgb(149, 149, 149, 0.9);
}

.region-wraper .arrow,
.currency-wraper .arrow {
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 10;
}

#townField {
    margin-left: 10px;
    margin-top: 20px;
}

#inputTown { 
    width: 40%; 
}

/*==================CONTACT_INFO==================*/

#emailField {
    margin-bottom: 20px;
}

#inputEmail { 
    width: 30%; 
}

img.messengers-image { 
    height: 20px; 
}

div.phone-wraper {
    position: relative;
    vertical-align: middle;
}

#inputPhone { 
    width: 30%;
    padding-left: 72px;
    margin-left: 0px;
}

div.phone-prefix {
    position: absolute;
    top: 5px;
    left: 5px;
}

img.country-flag {
    vertical-align: middle;
    height: 25px;
}

span.country-code {
    vertical-align: middle;
    display: inline;
    cursor: default;
}

.mediaCheckBoxes {
    margin: 5px 0px 0px 15px;
}

#phoneField input[type=checkbox] { 
    margin: 0px; 
}

/*==================BUTTONS==================*/

#btns { 
    border-bottom: none; 
}

#btns:hover { 
    box-shadow: none; 
}

.submit-button {
    margin-right: 5px;
}

#btns #modalPostDeleteOn {
    float: right;
}

/*==================MODAL==================*/

.modalView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(11, 11, 11, 0.7);
    box-shadow: 0px 0px 20px 5px #000000;
    display: block;
    padding: 20px;
    cursor: default;
}

.modalContent p {
    text-align: center;
    font-size: 120%;
    margin-bottom: 20px;
}

.modalContent form { 
    display: inline; 
}

.modalContent div > button { 
    margin-right: 20px; 
}