#editItemBody {
    padding: 20px 20px 40px 20px;
    width: 100%;
    background-color: rgb(149, 149, 149, 0.6);
}

#editItemBody>form {
    background-color: rgb(11, 11, 11, 0.6);
}

.element {
    position: relative;
    padding: 20px;
    border-bottom: 2px solid #888888;
    transition: 0.2s;
    width: 100%;
}

.element:hover { 
    box-shadow: 0px 0px 10px 0px #888888; 
}

.elementHeading { 
    font-size: 120%;
    margin-bottom: 15px;
}

.element:hover .help { 
    opacity: 1; 
}

input,
textarea,
div.phone-wraper,
div.upload-zone,
button.tagsTrigger,
#choosenTags,
#clearTagsBtn,
#dropDown,
.region-select {
    margin-left: 10px;
}

div.help {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    width: 28%; 
    opacity: 0;
    margin: 0px;
    overflow: hidden;
}

label.error, div.error {
    margin-left: 10px;
}

#inputPhone-error {
    margin-left: 0px;
}

#navTags button:hover { 
    background-color: rgb(149, 149, 149, 0.8); 
}

#navTags button:active {
    background-color: rgb(149, 149, 149, 0.7); 
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0px 0px 12px 10px;
    cursor: pointer;
    font-size: 110%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
    background-color: #FE9042;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/*==================PAGE_TITLE==================*/

#pageTitle {
    text-align: center;
    font-size: 190%;
    margin-bottom: 30px;
    padding-top: 0px;
}

/*==================NAV_BAR==================*/

.creation-type { 
    overflow: hidden;
}

.creation-type li { 
    display: inline; 
}

.creation-type a {
    float: left;
    text-align: center;
    width: 50%;
    padding: 14px;
    text-decoration: none;
    font-size: 100%;
    transition: 0.2s;
    border-bottom: 2px solid #ffffff;
}

.creation-type a:hover {
    background-color: rgb(149, 149, 149, 0.7);;
}

/*==================TITLE==================*/

#title {
    padding-top: 60px;
}

#title #inputTitle { 
    width: 70%; 
}

/*==================COMPANY==================*/

#inputCompany {
    width: 50%;
}

/*==================CONDITION==================*/

#condition input {
    cursor: pointer;
}

#condition label {
    cursor: pointer;
}

/*==================TAG==================*/

button.tags-show {
    margin-left: 10px;
}

#tagReadbleVisible {
    width: 70%;
    margin-left: 10px;
}

#tagReadbleVisible span {
    font-size: 110%;
    border-bottom: 2px solid #FE9042;
}

/*==================DESCRIPTION==================*/

#inputDecs {
    width: 70%;
}

/*==================IMAGES==================*/

#imgs label {
    cursor: pointer;
    padding: 7px;
    background-color: rgb(149, 149, 149, 0.7);
}

#previewText {
    margin: 15px 0px;
}

#imgs .error {
    margin-top: 5px;
    border-left: none;
}

#modalImgsDeleteOn,
#clearTagsBtn {
    margin-top: 10px;
    padding: 7px;
}

/*==================MISC_INFO==================*/

#costField {
    margin-bottom: 20px;
}

#inputCost { 
    width: 25%; 
}    

#townField {
    margin-left: 10px;
    margin-top: 20px;
}

#inputTown { 
    width: 40%; 
}

/*==================CONTACT_INFO==================*/

#emailField {
    margin-bottom: 20px;
}

#inputEmail { 
    width: 35%; 
}

img.messengers-image { 
    height: 20px; 
}

div.phone-wraper {
    position: relative;
    vertical-align: middle;
}

#inputPhone { 
    width: 25%;
    padding-left: 72px;
    margin-left: 0px;
}

div.phone-prefix {
    position: absolute;
    top: 5px;
    left: 5px;
}

img.country-flag {
    vertical-align: middle;
    height: 25px;
}

span.country-code {
    vertical-align: middle;
    display: inline;
    cursor: default;
}

.mediaCheckBoxes {
    margin: 5px 0px 0px 15px;
}

#phoneField input[type=checkbox] { 
    margin: 0px; 
}

/*==================BUTTONS==================*/

#btns { 
    border-bottom: none; 
}

#btns:hover { 
    box-shadow: none; 
}

.submit-button {
    margin-right: 5px;
}

#btns #modalPostDeleteOn {
    float: right;
}

/*==================MODAL==================*/

.modalView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(11, 11, 11, 0.7);
    box-shadow: 0px 0px 20px 5px #000000;
    display: block;
    padding: 20px;
    cursor: default;
}

.modalContent p {
    text-align: center;
    font-size: 120%;
    margin-bottom: 20px;
}

.modalContent form { 
    display: inline; 
}

.modalContent div > button { 
    margin-right: 20px; 
}