
#itemWraper {
    padding-top: 20px;
    height: auto;
    position: relative;
    background-color: rgb(149, 149, 149, 0.6);
    border-bottom: 2px solid #ffffff;
}

div.outdated-notif {
    text-align: center;
    max-width: 80%;
    margin: 0 auto 30px auto;
}

div.outdated-notif p{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 120%;
    font-style: italic;
    background-color: red;
    position: relative;
}

.element {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: rgb(11, 11, 11, 0.6);
    transition: 0.2s;
}

.element:hover,
#modalContacts:hover {
    box-shadow: 0px 0px 10px 0px #888888;
}

p, h1 {
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*=V============V======V====LEFT_CONTENT====V======V============V=*/

#leftContentWraper {
    width: 70%;
    height: auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 15px;
    vertical-align: top;
}

#leftContent {
    width: 100%;
}

/*==================MAIN_IMAGE==================*/

#mainImgWraper {
    width: 100%;
    height: 590px;
}

#mainImgWraper img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    cursor: pointer;
}

/*==================SMALL_IMAGES==================*/

#otherImg {
    height: 100px;
}

.moreImg {
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.moreImg img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s;
}

.moreImg:hover img {
    box-shadow: 0px 0px 10px 0px #888888;
}

/*==================MAIN_INFO==================*/

#mainInfo h1 {
    font-size: 140%;
    font-weight: 700;
    margin-bottom: 20px;
}

span.post-type {
    color: #FE9242;
    font-size: 90%;
}

#mainInfo p {
    white-space: pre-line;
    line-height: 1.3em;
}

#mainInfo div {
    margin-bottom: 20px;
}

a.item-tag {
    text-decoration: none;
    padding: 7px 20px;
    transition: 0.2s;
    font-size: 95%;
    border-bottom: 2px solid #888888;
    font-size: 110%;
    margin: 0px 5px 5px 5px;
    display: inline-block;
}

a.item-tag:hover {
    background-color: rgb(149, 149, 149, 0.7);
}

/*-====TRANSLATION_ALERT===-*/

div.translated-alert {
    background-color: #eb837c;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
}

.ta-header {
    position: relative;
    padding-left: 30px;
    display: inline-block;
}
.ta-img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ta-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: underline;
}

div.ta-desc {
    margin-top: 20px;
}

/*=V============V======V====RIGHT_CONTENT====V======V============V=*/

#rightContentWraper {
    width: 29.4%;
    height: auto;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}

#rightContent {
    width: 100%;
    height: auto;
}

/*================ADD_TO_FAV_BTN================*/

#addToFavBtn {
    text-align: center;
}

#addToFavBtn p {
    margin-bottom: 10px;
}

#addToFavBtn button {
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

#addToFavBtn img {
    height: 40px;
}

#addToFavBtn button:hover img {
    height: 45px;
    opacity: 1;
}

/*==================EDIT_BTN==================*/

#editBtn p {
    text-align: center;
}
/*==================AUTHOR_INFO==================*/

#authorView {
    position: relative;
}

#authorView h4 {
    margin-bottom: 10px;
}

#authorView #authorInfo {
    position: relative;
}

#authorView img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

#authorView p {
    width: 150px;
    position: absolute;
    left: 85px;
    top: 15px;
    height: 40px;
}

.def-button {
    margin-top: 10px;
    padding: 7px;
    font-size: 95%;
    width: 100%;
}

.authorBtns:hover {
    background-color: rgb(149, 149, 149, 0.8);
}

.authorBtns:active {
    background-color: rgb(149, 149, 149, 0.7);
}

/*==================MODAL_CONTENT==================*/

.modalView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(11, 11, 11, 0.7);
    box-shadow: 0px 0px 20px 5px #000000;
    display: block;
    padding: 20px;
    cursor: default;
    max-width: 90%;
}

.modalContent h1 {
    text-align: center;
    font-size: 140%;
    margin-bottom: 30px;
}

.modalContent li {
    list-style: none;
    border-bottom: 2px solid #888888;
    margin-bottom: 20px;
}

.modalContent li p {
    font-size: 120%;
    display: inline;
}

.modalContent li span {
    cursor: text;
    color: #FE9242;
    font-size: 130%;
    word-wrap: normal;
    word-break: break-all;
}

.modalContent ul li img {
    height: 35px;
    margin-right: 5px;
}