.deletedItem { 
    display: none; 
}

#favItemsTab { 
    background-color: #FE9042; 
}

#items {
    margin-top: 25px;
}

.search-items input{
    background-color: transparent;
    padding: 7px 15px;
    border: 2px solid #888888;
    border-radius: 5px;
}

.search-items button {
    background-color: transparent;
    padding: 7px 15px;
    border: 2px solid #888888;
    border-radius: 5px;
    cursor: pointer;
}
