#personlaInfoBtn {
    background-color: #FE9042;
}

#profileContent {
    padding-bottom: 30px;
}

form>div>h1 {
    text-align: center;
}

#userData table {
    width: 90%;
    max-width: 95%;
    margin: 0px auto;
    border-collapse: collapse;
}

#userData td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    padding: 20px 5px;
}

#userData tr>td {
    width: 35%;
}

#nameShow, #emailShow, #phoneShow, #avaEdit {
    border-bottom: 2px solid #888888;
}

label.error, div.error {
    display: block;
    padding: 5px 10px 5px 10px;
    border-left: 2px solid #f44336;
    color: #eb837c;
    white-space: normal;
}

div.error p { color: #eb837c; }

input.error { border-left: 2px solid #f44336 !important; }

#avaEdit td{ vertical-align: middle; }

#avaPreview {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0px auto;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

#avaEdit div.error { clear: both; }

#avaPreview:hover { box-shadow: 0px 0px 10px 5px #888888; }

#avaPreview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 50%;
}

table input[type=text],
table input[type=email], 
table input[type=password] {
    width: 100%;
    padding: 0px 7px;
    height: 38px;
    outline: none;
    border: none;
    background-color: rgb(149, 149, 149, 0.7);
    transition: 0.2s;
}

.hideShowPassword-wrapper {
    width: 100%;
}

#phoneShow img { height: 20px; }

.invalidInput { border-left: 2px solid #f44336; }

table input:hover { background-color: rgb(149, 149, 149, 0.8); }

table input:active { background-color: rgb(149, 149, 149, 0.7); }

table input:focus { background-color: rgb(149, 149, 149, 0.9); }

button.hideShowPassword-toggle {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    font-size: 90%;
    cursor: pointer;
    padding: 0px 3px;
    height: 100%;
    width: 8%;
}

button.hideShowPassword-toggle>img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    vertical-align: middle;
}

button.hideShowPassword-toggle:hover {
    background-color: rgb(11, 11, 11, 0.6);
}

#userData #sumbitBtn {
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(11, 11, 11, 0.6);
    border: none;
    margin-left: 40px;
    border-bottom: 2px solid #4CAF50;
    margin-right: 20px;
    transition: 0.2s;
}

#userData #sumbitBtn:hover { background-color: rgb(114, 190, 116); }

#userData #cancelBtn {
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(11, 11, 11, 0.6);
    text-decoration: none;
    border-bottom: 2px solid #f44336;
    transition: 0.2s;
}

#userData #cancelBtn:hover { background-color: #eb837c; }


/*==============MODAL=============*/

.modalView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(11, 11, 11, 0.7);
    box-shadow: 0px 0px 20px 5px #000000;
    display: block;
    padding: 20px;
    cursor: default;
}

.modalContent p {
    text-align: center;
    font-size: 120%;
    margin-bottom: 20px;
}

.modalContent div > button { margin-right: 20px; }

#modalSubmit:hover {
    background: #eb837c;
}

#modalSubmit  {
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid #f44336;
}

#modalShow {
    margin-left: 30px;
    margin-top: 20px;
    padding: 5px;
    border: none;
    background: none;
    color: #f44336;
    border-bottom: 2px solid #f44336;
}

#modalShow:hover {
    color: #ffffff !important;
    background: #eb837c;
}

.modalContent div > button {
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #4CAF50;
    cursor: pointer;
}

.modalContent div > button:hover {
    background: rgb(114, 190, 116);
}