#mySubscriptionBtn { 
    background-color: #FE9042; 
}

#editBtn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(149, 149, 149, 0.7);
    display: inline-block;
}

#editBtn:hover {
    background-color: rgb(149, 149, 149, 0.8);
}

#editBtn:active {
    background-color: rgb(149, 149, 149, 0.7);
}

.subscription-content {
    text-align: center;
    padding: 90px 30px 30px 30px;
}

.subscription-header {
    font-size: 160%;
    margin: 0px 0px 30px 0px;
}

.subscription-plan {
    color: #FE9042;
    text-decoration: underline;
    font-style: italic;
    font-size: 210%;
}


.subscription-active-to {
    margin-top: 70px;
    color: #888888;
    margin-bottom: 5px;
}

.deliter-line {
    width: 50%;
    margin: 0px auto 70px auto;
    border-bottom: 2px solid #888888;
}

.subscription-more {
    white-space: pre-line;
    font-size: 140%;
    margin-bottom: 30px;
}

.subscription-plans {
    margin-bottom: 50px;
}

#open-history {
    border: 2px solid #888888;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 30px;
}

.history {
    margin-bottom: 50px;
}

.history-wraper table {
    width: 100%;
}

.history-wraper table th{
    padding-bottom: 10px;
    font-weight: bold;
    
}


.subscription-cancel {
    display: block;
    margin-left: auto;
    margin-right: 0;
}