#mySubscriptionBtn { 
    background-color: #FE9042; 
}

#editBtn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(149, 149, 149, 0.7);
    display: inline-block;
}

#editBtn:hover {
    background-color: rgb(149, 149, 149, 0.8);
}

#editBtn:active {
    background-color: rgb(149, 149, 149, 0.7);
}