
.items {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}

.item {
    width: 25%;
    padding: 25px;
    position: relative;
}

.item-img {
    height: 250px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(149, 149, 149, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-lables {
    margin-bottom: 15px;
}

.created-at {
    font-size: 80%;
    color: #888888;
    display: inline-block;
}

.post-type {
    font-size: 80%;
    float: right;
    color: #888888;
    background-color: #161616;
    padding: 5px 9px;
    border-radius: 15px;
}

.post-type-hover {
    color: white;
    background-color: #979797;
}

.item-title {
    margin-bottom: 15px;
    overflow: hidden;
    max-height: 3.5em;
}

.item-title-hover {
    color: #fe9042;
}

.post-manuf-loc {
    font-size: 80%;
    color: #888888;
    margin-bottom: 15px;
}

.more-items a {
    width: 100%;
    height: 250px;
    border: 2px solid #888888;
    border-radius: 10px;
    display: block;
    position: relative;
}

.more-items a:hover {
    border: 2px solid white;
}

.more-items a:hover span {
    color: #fe9042;
}

.more-posts-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -65%);
    height: 60px;
}

.more-posts-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-decoration: underline;
    white-space: pre-line;
}

.addToFavButton, 
.addToFavButtonBlocked, 
.addToFavButtonAuthBlocked {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 35px;
    text-align: center;
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.item .addToFavImg {
    height: 30px;
    transition: 0.2s;
}

.img-hover-scale:hover {
    transform: scale(1.2);
}

.item .globalItemButton {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.2s;
}