
/*=====CHECKBOX_BUTTON=====*/

/* The container */
.cb-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.cb-checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #888888
}
  
/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .cb-checkmark {
    border: 2px solid white;
}
  
/* When the checkbox is checked, add a orange background */
.cb-container input:checked ~ .cb-checkmark {
    border: 2px solid #FE9042;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.cb-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.cb-container input:checked ~ .cb-checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.cb-container .cb-checkmark:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #FE9042;
    border-radius: 50%;
}

/*=====RADIO_BUTTON=====*/

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #888888
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    border: 2px solid white;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
    border: 2px solid #FE9042;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #FE9042;
    border-radius: 50%;
}

/*=====ROUNDED_SWITCH=====*/

/*the switch inself*/
.switch  {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

/*the dafault input*/
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

/*the background of switch*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
    border: 2px solid #888888;
}

/*the moving toggle */
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: -2px;
    bottom: -2px;
    background-color: #fe9042;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/*the background of activated switch*/
input:checked + .slider {
    background-color: transparent;
}

/*the background of hovered switch*/
input:focus + .slider {
    background-color: #ffffff63;
}

/*the moving toggle activated switch*/
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
