.tags-show {
    width: 200px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.modal-view {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    cursor: pointer;
    z-index: 11;
    display: table;
}

.tags-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    background: rgb(11, 11, 11, 0.8);
    box-shadow: 0px 0px 20px 5px #000000;
    padding: 20px;
    cursor: default;
    width: 1020px;
    max-width: 1020px;
}

.columns-header {
    display: inline-block;
    font-size: 150%;
    border-bottom: 2px solid #FE9042;
}

p.modal-help {
    margin-bottom: 20px;
}

p.modal-help i {
    font-size: 100%;
    color: #888888;
    border-left: 2px solid #FE9042;
    padding-left: 10px;
}

div.columns {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    flex-grow: 1;
    margin-bottom: 20px;
}

div.column {
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    flex: 1 1 0px;
}

p.tag {
    width: 100%;
    padding: 7px 22px 7px 10px;
    font-size: 120%;
    white-space: pre-line;
    position: relative;
    border-bottom: 1px solid #a55e2b;
}

img.arrow-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
}

p.tag:hover {
    background-color: #FE9042;
}

div.column::-webkit-scrollbar {
  width: 6px;
}
 
div.column::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    background-color: #888888;
    border-radius: 10px;
}
 
div.column::-webkit-scrollbar-thumb {
  background-color: #FE9042;
  border-radius: 5px;
}

div.selected-tags {
    margin-bottom: 20px;
}

div.selected-tags p {
    font-size: 130%;
}

div.selected-tags span {
    font-size: inherit;
    color: #FE9042;
}

div.submit-btns {
    margin-left: 20px;
}